RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)$ $1.php [L,QSA]

# Handle spaces in URLs
RewriteRule ^([^\ ]*)\ (.*)$ $1-$2 [L,QSA] 